
header(id="header" class="header")
  div(class="header__bg")
  div(class="container header__container")
    a(href="#main" class="header__logo")
      img(src="/assets/img/logo.svg" alt="")
    div(
      id="navbar"
      class="navbar")
      nav(class="navbar__links")
        a(href="#markets" class="navbar__link")
          | Маркетплейсы
        a(href="#customers" class="navbar__link")
          | Для кого
        a(href="#services" class="navbar__link")
          | Наши услуги
        a(href="#stages" class="navbar__link")
          | Этапы работы
      a(class="navbar__tel" href="tel:+79178990455")
        | +7 917 899 04 55
      a(class="navbar__button" href="#form")
        | Оставить заявку
      button(
        id="navbar-button"
        class="navbar__close")
        i(class="fas fa-times")
    button(
      id="header-button"
      class="header__button")
      i(class="fas fa-bars")